/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Styles pour l'en-tête */
.header {
    position: absolute;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Styles pour les boutons */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.button-container button:hover {
    background-color: #45a049;
}

/* Styles pour les liens */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #ddd;
}

#debauche {
    background-color: rgb(260,60,60);
}

#deconnexion {
    margin-top: 20px;
    margin-left: 20px;
    background-color: red;
    color:black;
    height: 40px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
}

.alert-positive {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(36,176,31);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    animation: fadeOut 5s forwards;
}

.alert-negative {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230,60,60);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    animation: fadeOut 5s forwards;
}
  
@keyframes fadeOut {
0% {
    opacity: 1;
}
90% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

h3 {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid black 3px;
    background-color: orange;
    text-align: center;
}

.heureSup {
    display: flex;
    flex-direction: column;
}

.heure { 
    margin-left: 5%;
    margin-top: 30px;
}

table {
    width: 90vw;
}

tr {
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 5px;
    width:30%;
    border: solid black 3px;
}

tr.titre {
    background-color: grey;
}
